<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/microsoft.png" width="30" height="30" alt="MSFT">
            Hello World
        </a>
        <ul class="nav nav-pills mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="page1" routerLinkActive="active">Tab 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="page2" routerLinkActive="active">Tab 2</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <router-outlet></router-outlet>
</div>